.tags {
  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__text {
    height: 24px;
    border-radius: 16px;
    border: solid 1px #cccccc;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.2px;
    color: #3d3d3d;
    padding: 2px 8px 2px 8px;
    margin: 4px 4px 4px 4px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
  }

  &__plus {
    height: 24px;
    border-radius: 16px;
    border: solid 1px #cccccc;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.2px;
    color: #3d3d3d;
    padding: 2px 8px 2px 8px;
    margin: 4px 4px 4px 4px;
    background-color: #eeeeee;
  }

  &__close {
    margin: 0px 8px 0 8px;
  }
}
